.card-overlay {
  /* background-color: blueviolet; */
  animation: dragged 250ms forwards;
}

.card-overlay-dropped {
  animation: dragged 100ms reverse;
}

@keyframes dragged {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.03);
    opacity: 0.95;
  }
}

/* For when you're focusing and the label gets highlighted */
.input-focus-wrapper:focus-within > label {
  color: rgba(59, 130, 246);
}
